.header-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 60px;
  margin-bottom: 64px;
}
.header__photo-wrapper {
  width: 156px;
  height: 156px;

  margin-bottom: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.header__photo-wrapper > img{
  max-width: 100%;
  aspect-ratio: 1/1;

  border-radius: 16px;
}
.fullname-title {
  font-size: var(--title-fs-xl);
  line-height: var(--title-lh-xl);

  margin-bottom: 8px;
}
.location-title {
  margin-bottom: 24px;
}
.header__profile-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 24px;
}
.header__profile-stat {
  width: 100px;
  aspect-ratio: 78/52;

  background-color: var(--color-gainsboro);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 3px;
}
.header__stat-count {
  font-size: var(--title-fs-l);
  line-height: var(--title-lh-l);
}
.header__stat-title {
  font-size: var(--title-fs-m);
  line-height: var(--title-lh-m);
}