.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.content-wrapper {
  width: 100%;
  max-width: 960px;
}

@media (max-width: 1024px) {
  .content-wrapper {
    width: 100%;
    max-width: calc(100% - 80px);
  }
}

@media (max-width: 475px) {
  .content-wrapper {
    max-width: calc(100% - 24px);
  }
}